.iframe-ext-container{
	display: -ms-flexbox;     /* TWEENER - IE 10 */
	display: inline-flex; 
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.iframe-container{
	bottom: 10%;
}

.iframe-spotify{
	display: block;
	left: 25%;
	max-height: 80px;
	max-width: 50%;
	min-width: 80px;
}
/* BEGIN SPOTIFY */
.spotify{
	display: block;
	max-width: 80%;
	max-height: 80px;
}
.container-spotify{
	width: 100%;
	text-align: center;
}

.container-spotify iframe{
	display: inline-block;
	max-height: 80px;
	margin: auto;
	margin-bottom: 80px;
	max-width: 80%;
	text-align: center;
}

.item-spotify{
	align-content: center;
	grid-column: 2/3;
	border-radius: 5px;
	align-content: center;
}

#spotify-iframe{
	display: block;
	align-content: center;
}
/* END SPOTIFY */



/* BEGIN YOUTUBE */
.iframe-youtube{
	display: block;
	left: 25%;
	max-height: 100px;
	max-width: 50%;
}

.grid-container-youtube{
	display: grid;
	grid-gap: 1%;
    padding: 1%;
}
.grid-container-youtube iframe{
	width: 100%;
	height: 100%;
}

.grid-item-youtube-1{
    grid-row: 1/2;
	grid-column: 1/2;
}

.grid-item-youtube-2{
    grid-row: 1/2;
	grid-column: 2/3;
}
/* END YOUTUBE */

/* BEGIN SOUNDCLOUD */
.container-soundcloud{
	max-width: 70%;
}

.grid-container-soundcloud iframe{
	width: 100%;
	height: 500px;
}

.soundcloud-iframe{
	width: 100%;
	padding: 1%;
}

.grid-container-soundcloud-1{
	grid-row: 1/2;
}

.grid-container-soundcloud-2{
	grid-row: 2/3;
}
/* END SOUNDCLOUD */

/* BEGIN MUSIC TABS */
.tab-container{
	width: 100%;
	height: auto;
	top:0;
	/*border: 1px solid #808080;*/
}

.tab-container .tab-buttons{
	height: 15%;
	top: 0;
}

.tab-container .tab-buttons button{
	width: 20%;
	height: 100%;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 1%;
/*	transition: all 0.3s ease-in-out;*/
}

.tab-container .tab-buttons button:hover{
	color: white;
}

.tab-container .tab-buttons button>img{
	height: 20px;
	transition: all 0.3s ease-in-out;
}

.tab-container .tab img{
	max-height: 50px;
}

.tab-container .tab{
	display: none;
	min-height: 70.5vh;
}


#button-spotify{
	background-color: #14813a;
	/*border-right: 1px solid #808080;*/
}

#tab-spotify{
	background-color: #14813a;
}

#tab-spotify p.spotify-p{
	padding-bottom: 90px;
}

#tab-spotify p.spotify-p-last{
	padding-bottom: 130px;
}

#button-youtube{
	background-color: #990000;
	/*border-right: 1px solid #808080;*/
}

#tab-youtube{
	background-color: #990000;
}

#tab-youtube p.youtube-p{
	padding-bottom: 100px
}

#tab-youtube p.youtube-p-last{
	padding-bottom: 140px
}

#button-soundcloud{
	background-color: #d63d00;
	/*border-right: 1px solid #808080;*/
}

#tab-soundcloud{
	background-color: #d63d00;
}

#button-musescore{
	background-color: #1f74bd;
	/*border-right: 1px solid #808080;*/
}

#tab-musescore{
	background-color: #1f74bd;
}

#button-shop{
	background-color: #FF9900;
}

#tab-shop{
	background-color: #FF9900;
}

#tab-shop a{
	color: #d63d00;
	transition: all 0.3s ease-in-out;
}

#tab-shop a:hover{
	color: #ff751a;
}

h2>img{
	/*max-height: 60px;*/
	max-width: 80%;
	max-height: 60px;
	width: auto;
	padding: 3%;
}

/* END MUSIC TABS */

@media only screen and (max-width: 700px){
	.tab-container .tab{
		display: none;
		min-height: 71vh;
	}
}
